<div class="header">
  <h3>Add a new task</h3>
</div>

<div class="container col-lg-6 mb-5 mb-lg-0">
  <div class="card">
    <div class="card-body py-5 px-md-5">
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <label class="form-label" for="fname">Title of task</label>
              <input
                type="text"
                id="fname"
                class="form-control"
                placeholder="Title of task"
                formControlName="title"
              />
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="form-outline">
              <label class="form-label" for="lname">Name of lesson</label>
              <input
                type="text"
                id="lname"
                class="form-control"
                placeholder="Name of lesson"
                formControlName="subject"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
              <label class="form-label" for="select-class">Class</label>
              <select [(ngModel)]="selectedValue" class="form-select form-control" formControlName="class">
                <option *ngFor="let option of ['1.N', '2.N', '3.N']" [value]="option">
                  {{option}}
              </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="form-outline mb-4">
              <label class="form-label" for="description">Description</label>
              <input
                type="text"
                id="description"
                class="form-control"
                placeholder="Description"
                formControlName="description"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="form-outline mb-4">
              <label class="form-label" for="deadline">Deadline</label>
              <input
                type="date"
                id="password"
                class="form-control"
                placeholder="deadline"
                formControlName="deadline"
              />
            </div>
          </div>
        </div>

        <div class="submit-btn">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
