<div class="header">
  <h3>Students</h3>
</div>

<div class="classes">
  <ul class="text-center list-group">
    <li class="list-item" *ngFor="let class of classes">
      {{ class.class }}
    </li>
  </ul>
</div>

<div class="container">
  <div class="box box1 students">
    <div class="list-of-student">
      <ul class="menu list-group">
        <li
          class="student list-item"
          *ngFor="let student of students"
          (click)="onSelectedStudent(student)"
        >
          {{ student.name }}
        </li>
      </ul>
    </div>
  </div>
  <div class="box box2">
    <div class="information-about-student">
      <h2>Information about {{ selectedStudentName }}</h2>
      <div class="info">
        <p>{{ selectedStudentName }}</p>
        <p>{{ selectedStudentEmail }}</p>
      </div>
    </div>
    <div class="students-edit-delete-btns">
      <button class="btn btn-primary" routerLink="edit" *ngIf="selectedStudentName">
        Edit Student
      </button>
      <button class="btn btn-danger" *ngIf="selectedStudentName" (click)="openModal(selectedStudentName)">
        Delete Student
      </button>

       <ng-template #content let-modal>
        <div class="modal-header text-center">
          <h4 class="modal-title">Delete</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{ selectedStudentName }}?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn close"
            (click)="modal.close('Close click')"
          >
            Close
          </button>
          <button
            type="button"
            class="btn"
            (click)="modal.close('Close click')"
          >
            Delete
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
