@mixin header {
    width: 100%;
    padding: 16px 40px;
    margin-top: 60px;
    
    background-color: #fff;
    
    h3 {
        font-size: 20px;
    }
}

@mixin button {
    background-color: #F28D51;
    border-radius: 100px;
    border: none;
    width: 195px;
    
    a {
        text-decoration: none;
        color: #fff;
    }
}

@mixin button-focus {
    background-color: #F28D51;
}

@mixin classes {
    display: inline-block;
    
        li {
            list-style: none;
            display: inline-block;
            padding: 0 15px;
            border-right: 1px solid black;
    
            &:last-child {
                border: none;
            }
    
        }
}

@mixin col-lg-3 {
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 330px;
}