<div class="side-navbar" [ngClass]="{ open: showSideNavbar }">
  <div class="side-nav-header">
    <h2>Tasks</h2>
  </div>
  <app-tasks
    [showHeaderAndClasses]="false"
    *ngIf="showSideNavbar"
    [isStudentView]="true"
  ></app-tasks>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a
      (click)="toggleSideNavbar()"
      class="expandButton"
      [ngClass]="{ expanded: showSideNavbar }"
    >
      <i *ngIf="!showSideNavbar" class="bi bi-chevron-right"></i>
      <i *ngIf="showSideNavbar" class="bi bi-chevron-left"></i>
    </a>
    <div class="navbar-container">
      <a class="navbar-brand">1.N</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 user-info">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            (click)="showMenu = !showMenu"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ user?.name }} {{ user?.surname }}
          </a>
          <ul class="dropdown-menu" [class.show]="showMenu">
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>