<div class="subjects subjects-container">
  <ul class="text-center list-group">
    <li
      class="list-item"
      *ngFor="let subject of dashboardInfo?.subjects; let i = index"
      (click)="onSubjectClick(subject)"
      [class.active]="subject === selectedSubjectTitle"
    >
      {{ subject }}
    </li>
  </ul>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div
      class="col"
      cdkDropList
      id="todo"
      #todo="cdkDropList"
      [cdkDropListData]="dashboardInfo?.todo"
      [cdkDropListConnectedTo]="[inProgress]"
      (cdkDropListDropped)="drop($event)"
      [style.height.px]="calculateHeight(dashboardInfo?.todo)"
    >
      TO-DO
      <span class="number-of-tasks">{{ dashboardInfo?.todo.length }}</span>
      <div class="content">
        <div *ngFor="let todo of dashboardInfo?.todo" cdkDrag>
          <div class="card">
            <div class="card-body">
              {{ todo.title }}
              {{ todo.description }}
              {{ todo.deadline }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col"
      cdkDropList
      id="inProgress"
      #inProgress="cdkDropList"
      [cdkDropListData]="dashboardInfo?.inProgress"
      [cdkDropListConnectedTo]="[todo, review]"
      (cdkDropListDropped)="drop($event)"
      [style.height.px]="calculateHeight(dashboardInfo?.inProgress)"
    >
      IN PROGRESS
      <span class="number-of-tasks">{{
        dashboardInfo?.inProgress.length
      }}</span>
      <div class="content">
        <div *ngFor="let inProgress of dashboardInfo?.inProgress" cdkDrag>
          <div class="card">
            <div class="card-body">
              {{ inProgress.title }}
              {{ inProgress.description }}
              {{ inProgress.deadline }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col"
      cdkDropList
      id="review"
      #review="cdkDropList"
      [cdkDropListData]="dashboardInfo?.review"
      (cdkDropListDropped)="drop($event)"
      cdkDropListDisabled
      [style.height.px]="calculateHeight(dashboardInfo?.review)"
    >
      REVIEW
      <span class="number-of-tasks">{{ dashboardInfo?.review.length }}</span>
      <div class="content">
        <div *ngFor="let review of dashboardInfo?.review" cdkDrag>
          <div class="card">
            <div class="card-body">
              {{ review.title }}
              {{ review.description }}
              {{ review.deadline }}
            </div>
          </div>
        </div>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header text-center">
          <h4 class="modal-title">Review</h4>
        </div>
        <div class="modal-body">
          Are you sure you want add this task to review?
          <div class="deadline"></div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            #closeModal
            (click)="onModalClose()"
            (click)="modal.close('click')"
          >
            No
          </button>
          <button
            type="button"
            class="btn"
            #closeModal
            (click)="onModalConfirm()"
            (click)="modal.close('click')"
          >
            Yes
          </button>
        </div>
      </ng-template>
    </div>
    <div
      class="col"
      cdkDropList
      id="done"
      #done="cdkDropList"
      [cdkDropListData]="dashboardInfo?.done"
      (cdkDropListDropped)="drop($event)"
      cdkDropListDisabled
      [style.height.px]="calculateHeight(dashboardInfo?.done)"
    >
      DONE
      <span class="number-of-tasks">{{ dashboardInfo?.done.length }}</span>
      <div class="content">
        <div *ngFor="let done of dashboardInfo?.done" cdkDrag>
          <div class="card">
            <div class="card-body">
              {{ done.title }}
              {{ done.description }}
              {{ done.deadline }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
