<div class="header">
  <h3>Lessons</h3>
</div>

<div class="classes">
  <ul class="text-center list-group">
    <li class="list-item" *ngFor="let class of classes">
      {{ class.class }}
    </li>
  </ul>
</div>

<div
  class="container-fluid text-center d-flex flex-column gap-5 justify-content-center align-items-center"
>
  <div class="row" *ngFor="let chunk of chunkedLessons">
    <div
      class="col-lg-3 col-md-4 col-sm-6 col-12"
      *ngFor="let lesson of chunk"
    >
      <div class="lesson-container">
        <h2>{{ lesson.subject }}</h2>
        <p>{{ lesson.name }}</p>
        <span class="delete-icon"
          ><a href="#!"><i class="bi bi-trash3"></i></a
        ></span>
      </div>
    </div>
  </div>
  <div class="submit-btn">
    <button class="btn btn-success" routerLink="add-lesson">
      Add a lesson
    </button>
  </div>
</div>
