.main-content {
    position: relative;
    transition: all 0.5s;
    margin-left: 0;
    width: 100%;
}

.main-content.shift-content {
    margin-left: 330px;
    width: calc(100% - 330px);
}

.navbar-shifted {
    max-width: calc(100% - 330px);
    margin-left: 330px;
    transition: all 0.5s;
}