<div class="header">
    <h3>Dashboard</h3>
</div>

<div class="grid-container">
        <div class="box box1">
            <i class="bi bi-people"></i>
            <div class="content">
                <p>2500</p>
                <p>Students</p>
            </div>
        </div>
        <div class="box box2">
            <i class="bi bi-list-task"></i>
            <div class="content">
                <p>1,805</p>
                <p>Submitted files</p>
            </div>
        </div>
        <div class="box box3">
            <i class="bi bi-clock"></i>
            <div class="content">
                <p>54</p>
                <p>Tasks</p>
            </div>
        </div>
        <div class="box box4">
            <div class="heading-box4">
                <p>Last task done</p>
            </div>
            <div class="box4-last-tasks">
             <div class="last-task-divider" >
               <div class="last-task-container" *ngFor="let task of tasks">
                    <h2>{{ task.name }} <span class="time">{{ task.time }}</span></h2>
                    <span class="class-and-task">{{ task.classAndTask }}</span>
               </div>
             </div>    
            </div>
        </div>
</div>
