<div class="header">
  <h3>Dashboard</h3>
</div>

<div class="container d-flex align-items-center">
  <div class="w-100">
    <div class="row">
      <div class="col-md text-center">
        <div class="box box1">
          <i class="bi bi-people"></i>
          <div class="content">
            <p>2500</p>
            <p>Students</p>
          </div>
        </div>
      </div>
      <div class="col-md text-center">
        <div class="box box3">
          <i class="bi bi-clock"></i>
          <div class="content">
            <p>54</p>
            <p>Tasks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <div class="box box4">
          <i class="bi bi-clock"></i>
          <div class="content">
            <p>54</p>
            <p>In review</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
