.header {
    width: 100%;
    padding: 16px 40px;
    margin-top: 60px;

    background-color: #fff;

    h3 {
        font-size: 20px;
    }

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 270px auto;
    grid-gap: 80px 180px;
    justify-content: center;
    padding: 30px;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;

    i {
        font-size: 65px;
        padding: 20px;
    }

    .content {
        position: absolute;
        top: 120px;

        p:first-child {
            font-size: 40px;
        }

        p {
            font-size: 25px;
            font-weight: 300;
        }
    }
}


.box4 {
    grid-column: 1 / span 3;
    grid-row:2;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.heading-box4 {
    background-color: #2E323B;
    height: 56px;
    width: 100%;
    
    p {
        color: #fff;
        font-size: 20px;
        position: relative;
        top: 10px;
    }
   
}

.box4-last-tasks {

    .last-task-divider {
        
        padding-right: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .last-task-container {
        text-align: left;
        padding: 30px 120px;
        width: calc(33.333%);
        border-right:1px solid black;

        &:nth-child(3n) {
            border: none;
        }
        
        h2 {
            font-size: 20px;

            .time {
                font-size: 14px;
                position: relative;
                left: 90px;
                top: -5px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,250px);
        grid-gap: 30px;
    }

    .box {
        grid-column: 1 / span 1;
    }

    .box4 {
         grid-row: auto;
        min-height: auto;
        overflow-y: auto;
    }

    .last-task-container {
            padding: 15px 0 !important;
            width: calc(77%) !important;
            border: none !important;
    }

    .last-task-divider {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

 
}