<div class="header" *ngIf="showHeaderAndClasses">
  <h3>Tasks</h3>
</div>

<div class="classes" *ngIf="showHeaderAndClasses">
  <ul class="text-center list-group">
    <li class="list-item" *ngFor="let class of classes" (click)="onClassClick(class.class)">
      {{ class.class }}
    </li>
  </ul>
</div>

<div
  class="container-fluid text-center d-flex flex-column gap-5 justify-content-center align-items-center"
  [ngClass]="{ 'student-view': isStudentView }" 
>
  <div class="row" *ngFor="let chunk of chunkedTasks">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let task of chunk">
      <h2 class="title">{{ task.Title ? truncateDescription(task.Title, 24) : '' }}</h2>
      <p class="lesson-and-class">{{ task.Subject }}</p>
      <a  (click)="openModal(task)"
        ><i class="bi bi-caret-down-square"></i
      ></a>
      <span class="delete-icon" (click)="openModalDelete(task)" *ngIf="showHeaderAndClasses"
        ><a><i class="bi bi-trash3"></i></a
      ></span>

     <ng-template #content let-modal>
        <div class="modal-header text-center">
          <h4 class="modal-title">{{ truncateDescription(selectedTask?.Title, 40) }}</h4>
        </div>
        <div class="modal-body">
          {{ selectedTask?.Description }}
          <div class="deadline">
            <p>Deadline: {{ selectedTask?.Deadline }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn"
            (click)="modal.close('Close click')"
          >
            Close
          </button>
        </div>
      </ng-template>

       <ng-template #content_delete let-modal>
        <div class="modal-header text-center">
          <h4 class="modal-title">Delete</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want delete task {{ truncateDescription(selectedTask?.Title, 40) }}?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn close"
            (click)="modal.close('Close click')"
          >
            Close
          </button>
           <button
            type="button"
            class="btn"
            (click)="onDeleteTask(task)"
          >
            Delete
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="submit-btn">
    <button
      class="btn btn-success"
      *ngIf="showHeaderAndClasses"
      routerLink="add-task"
    >
      Add a task
    </button>
  </div>
</div>
