<div class="header">
  <h3>Review of tasks</h3>
</div>

<div class="classes">
  <ul class="text-center list-group">
    <li class="list-item" *ngFor="let class of classes">
      {{ class.class }}
    </li>
  </ul>
</div>

<div
  class="container-fluid text-center d-flex flex-column gap-5 justify-content-center align-items-center"
>
  <div class="row" *ngFor="let chunk of chunkedTasks">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let task of chunk">
      <h2 class="title">{{ task.title }}</h2>
      <p class="lesson-and-class">{{ task.lesson }}</p>

      <a href=""><i class="bi bi-caret-down-square"></i></a>
      <div class="name-of-student">
        <p>Denis Miškolci</p>
      </div>
    </div>
  </div>
</div>
