<div class="header">
  <h3>Review of tasks</h3>
</div>

<div class="classes">
  <ul class="text-center list-group">
    <li
      class="list-item"
      *ngFor="let class of classes"
      (click)="onClassClick(class.class)"
      [class.active]="class.class === selectedClassTitle"
    >
      {{ class.class }}
    </li>
  </ul>
</div>

<div
  class="container-fluid text-center d-flex flex-column gap-5 justify-content-center align-items-center"
>
  <div class="row" *ngFor="let chunk of chunkedReviews">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let review of chunk">
      <h2 class="title">{{ review.taskName }}</h2>
      <p class="lesson-and-class">{{ review.subject }}</p>
      <a (click)="openModal(review)"><i class="bi bi-caret-down-square"></i></a>

      <ng-template #content let-modal>
        <div class="modal-header text-center">
          <h4 class="modal-title">
            {{ truncateDescription(selectedReview?.taskName, 40) }}
          </h4>
        </div>
        <div class="modal-body">
          <p class="text-center" style="margin-bottom: 0 !important;"><a href="https://gitlab.kosickaakademia.sk/trello-gl" target="_blank">https://gitlab.kosickaakademia.sk/trello-gl</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btnred" (click)="reviewFix(review.taskId, review.studentId); modal.close('Close click')">Fix</button>
          <button type="button" class="btn btngreen" (click)="reviewDone(review.taskId, review.studentId); modal.close('Close click')">Done</button>
        </div>
      </ng-template>
      <div class="name-of-student">
        <p>{{ review.name }} {{ review.surname }}</p>
      </div>
    </div>
  </div>
</div>
